<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONMapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C979AAC61E04BBAE00299603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C979AADA1E04BBAF00299603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C979AAE51E04BBAF00299603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
